.auth-container {
  display: flex;
  padding: 40px 40px 100px 0;
  justify-content: center;
  background-image: url(~core/assets/images/auth-background.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.auth-info {
  margin-top: 35px;
  padding-right: 60px;
}

.auth-info-title {
  margin-left: 60px;
  font-size: 55px;
  line-height: 75px;
  letter-spacing: -0.015em;
  color: #263238;
}

.auth-info-subtitle {
  margin: 25px 0 15px 60px;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #9E9E9E;
}