.product-card-admin {
  margin-bottom: 20px;
  border-radius: 10px;

  .product-currency {
    font-size: 14px;
  }
  
  .product-price {
    font-size: 24px;
  }

  &:hover {
    border: 1px solid  #407BFF;
  }
}

.product-card-image-admin {
  width: 100px;
  height: 100px;
}