.product-card-admin {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .product-currency {
    font-size: 14px;
  }
  
  .product-price {
    font-size: 24px;
  }

  &:hover {
    border: 1px solid  #407BFF;
  }
}

.border-img {
  border-right: 1px solid #CECECE;
}

.buttons-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  padding-left: 30px;
}

.product-card-image-admin {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .card-content {
    margin-left: 10px;
  }
}

@media (max-width: 576px) {
  .product-card-admin {
    display: flex;
    flex-direction: column;
  }
  .card-content {
    width: 100%;
    padding: 10px;
  }

  .btn-product {
    width: 135px !important;
    margin: 0 !important;
  }

  .border-img {
    border: none;
    border-bottom: 1px solid #CECECE;
  }
}